*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: black;
    color: #FFB800;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.cabeçalho-img{
    width: 10%;
}
.resumo{
    background-image: linear-gradient(black,#80823B);
    display: flex;
    color: #FFB800;
    font-size: 20px;
    padding: 100px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.resumo-div{
    width: 30%;
}
    .texto-1{
        padding: 20px 0;
    }
    .texto-{
        padding: 20px 0;
    }
.topicos{
    display: inline-block;
    margin: 0 20px;
    font-size: 25px;
}
.basquete{
    width: 25%;
}
.volei{
    width: 25%;
}
.fotbol{
    width: 25%;
}